@tailwind base;
@tailwind components;
@tailwind utilities;
.glass {
  @apply bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg;
}
.resultTag {
  @apply bg-gray-300 text-xs;
}
h1 {
  @apply font-semibold text-lg;
}


@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(7, 155, 218, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  font-size: 0.8rem;
  background-image: url('./assets/img/background.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
}

a {
  text-decoration: none;
} 

/* a:any-link {
  color: var(--LINK-COLOR);
} */

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */



em {
  background-color: yellow;
}

@media screen and (max-width: 400px) {
  /* 改padding gap等 */
  h1 {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 0.8rem;
  }

 
 
}